<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>FilEncrypt</title>
    <link rel="stylesheet"
        integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.1/dist/css/fastbootstrap.min.css" rel="stylesheet"
        integrity="sha256-Yzz+k0rjOAAPX4Nkr73zQvppd6buXomR9n4uQ5lrSYE=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--Top Bar-->
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FilEncrypt</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/upload"><i class="fas fa-cloud-upload"></i>Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings"><i class="fas fa-cog"></i>Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <div id ="progressBar" class="progress progress-indeterminate" hidden>
        <div class="progress-bar"
         role="progressbar" aria-label="Basic example">
          <span class="visually-hidden">progress bar</span>
        </div>
      </div>

    <form action="/upload", method="POST", enctype="multipart/form-data">
        <div class="formContainer">
            <h1 style="text-align: center;">Upload</h1>
            <div class="mb-3">
                <label for="formFile" class="form-label">Choose a File</label>
                <input class="form-control" type="file" id="formFile" name="file" onchange="handleFileSelect()" required>
                <div class="invalid-feedback">No file chosen</div>
            </div>
            <div class="mb-3">
                <label for="formBucket" class="form-label">Bucket</label>
                <select class="form-select" id="formBucket" name="bucket">
                    {% for bucket in bucketList %}
                    {% if bucket == currentBucket %}
                    <option selected>{{bucket}}</option>
                    {% else %}
                    <option value="{{bucket}}">{{bucket}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="formRoute" class="form-label">File Path</label>
                <input type="text" class="form-control" placeholder="/" aria-label="Route" id="formRoute" name="route" autocomplete="off" required>
                <div class="invalid-feedback">File path cannot be empty</div>
            </div>
            <label class="form-label">Choose Key</label>
            <div class="mb-3">
                    <select class="form-select" id="formKey" name="formKey">
                        {% for key in keyList %}
                        {% if key == currentKey %}
                        <option selected>{{key}}</option>
                        {% else %}
                        <option value="{{key}}">{{key}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
            </div>
            <div style="text-align: center;">
                <button id="submitBtn" type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/fastbootstrap@1.1.1/dist/js/fastbootstrap.min.js"
        integrity="sha256-EA7CcsZVlKgu1Vdk1Nsl648ddvyavbdyjR/vnaTuomk=" crossorigin="anonymous"></script>
        <script defer src="{{ url_for('static', filename='script_upload.js') }}"></script>
</body>

</html>